{% extends "base.html" %}

{% block content %}

<div class="main">
    <div class="section_up_container">
        <div class="album_area">
            <div id="album_image">
                <img class="slide_image" src="https://picsum.photos/2518/1406">
                <!-- <img src="https://picsum.photos/2048/1365">
                    <img src="https://picsum.photos/450/339">
                    <img src="https://picsum.photos/2048/1536"> -->
            </div>
            <div class="album_button_left" onclick="nextPage(-1)"></div>
            <div class="album_button_right" onclick="nextPage(1)"></div>
            <div id="dot_container">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="booking_area">
            <div class="title_container">
                <div class="title">平安鐘</div>
                <div class="category">公共藝術 at 忠孝復興</div>
            </div>
            <div class="booking_container">
                <div class="booking_title item_title">訂購導覽行程</div>
                <div class="booking_describe">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="booking_date">
                    <span class="item_title">選擇日期：</span>
                    <div class="date_container">
                        <input type="date" id="date_input" min="2023-09-13">
                    </div>
                </div>
                <div class="booking_time">
                    <span class="item_title">選擇時間：</span>
                    <input type="radio" id="morning_radio" name="time_choice" value="morning" checked>
                    <label for="morning_radio">上半天</label>
                    <input type="radio" id="afternoon_radio" name="time_choice" value="afternoon">
                    <label for="afternoon_radio">下半天</label>
                </div>

                <div class="booking_fee">
                    <span class="item_title">導覽費用：</span>
                    <span>新台幣 2000 元</span>
                </div>
                <button type="submit" id="booking_button">開始預約行程</button>
            </div>
        </div>
    </div>

    <div class="line_container">
        <hr>
    </div>

    <div class="section_down_container">
        <div class="information_describe">
            平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。
            這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。
        </div>
        <div class="information_address_title">景點地址：</div>
        <div class="information_address_text">臺北市 大安區忠孝東路4段</div>
        <div class="information_transport_title">交通方式：</div>
        <div class="information_transport_text">
            捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站
            2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</div>
    </div>
</div>

{% endblock %}

{% set css_link = url_for('static', filename='styles/attraction.css') %}
{% set js_link = url_for('static', filename='javascripts/attraction.js') %}