{% extends "base.html" %}

{% block content %}

<div class="main">
    <div class="main__container">
        <div class="historical-order__header">
            <span>您好，</span><span id="user_name_display"></span><span>，已訂購的行程如下：</span>
        </div>
        <div class="historical-order__order-details">
            <div class="historical-order__overview-container">
                <div class="historical-order__order-number-container">
                    <span class="historical-order__order-number-title">訂單編號：</span>
                    <span class="historical-order__order-number">39f26504-7e58-447d-b84e-24f1b2e0b1dc</span>
                </div>
                <div class="historical-order__order-date-container">
                    <span class="historical-order__order-date-title">訂購日期：</span>
                    <span class="historical-order__order-date">2023-10-07</span>
                </div>
                <div class="historical-order__order-amount-container">
                    <span class="historical-order__order-amount-title">消費金額：</span>
                    <span class="historical-order__order-amount">2000</span>
                </div>
                <div class="historical-order__order-quantity-container">
                    <span class="historical-order__order-quantity-title">預約數量：</span>
                    <span class="historical-order__order-quantity">1</span>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% set css_link = url_for('static', filename='styles/historical.css') %}
{% set js_link = url_for('static', filename='javascripts/historical.js') %}