{% extends "base.html" %}

{% block content %}

<div class="welcome">
    <div class="welcome_container">
        <div class="slogan_up">
            <h1>輕鬆享受台北一日悠閒</h1>
        </div>
        <div class="slogan_down">
            <p>探索每個角落，體驗城市的深度旅遊行程</p>
        </div>
        <div class="search_bar">
            <form id="search-bar" autocomplete="off">
                <input type="search" placeholder="輸入景點名稱查詢" id="input_area"><button type="submit"><img
                        src="/static/images/icon_search.svg"></button>
            </form>
        </div>
    </div>
</div>
<div class="main">
    <div class="main_container">
        <div class="mrt_list_container">
            <div class="mrt_list_button_left" onclick="moveLeft()">
            </div>
            <div class="mrt_list_content" id="mrt-list-content">
            </div>
            <div class="mrt_list_button_right" onclick="moveRight()">
            </div>
        </div>
    </div>
    <div class="attraction_container" id="attraction-container">
    </div>
    <div class="loading_more_section" id="loading-more">
        <div class="wave">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="wave_text">
            Loading <span class="wave_dot">.</span><span class="wave_dot">.</span><span class="wave_dot">.</span>
        </div>
    </div>
</div>



{% endblock %}

{% set css_link = url_for('static', filename='styles/index.css') %}
{% set js_link = url_for('static', filename='javascripts/index.js') %}