.main {
    width: 100vw;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_up_container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    gap: 20px 30px;
    padding-top: 37px;
    padding-bottom: 37px;
}

@media (min-width: 1024px) {
    .section_up_container {
        grid-template-columns: 0.9fr 1fr;
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .section_up_container {
        grid-template-columns: 1fr;
        padding: 37px 12px;
        width: 90%;
    }
}

@media (max-width:600px) {
    .section_up_container {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .booking_area {
        padding: 0px 10px;
    }
}

.album_area {
    flex: 1;
    width: 100%;
    height: 406px;
    position: relative;
}

#album_image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    z-index: 0;
    transition: opacity 1s ease-in-out;
}

@media (max-width:600px) {
    .slide_image {
        border-radius: 0;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#dot_container {
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translate(-50%);
    display: flex;
    gap: 12px;
}

.dot {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid white;
    opacity: 0.75;
}

.active {
    background-color: black;
}

.album_button_left {
    background-image: url('/static/images/gray_left.svg');
    background-size: cover;
    width: 36px;
    height: 36px;
    border-style: hidden;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    /* margin-left: 10px; */
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.album_button_left:hover {
    background-image: url('/static/images/black_left.svg');
}

.album_button_right {
    background-image: url(/static/images/gray_right.svg);
    background-size: cover;
    width: 36px;
    height: 36px;
    border-style: hidden;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    /* margin-right: 10px; */
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.album_button_right:hover {
    background-image: url('/static/images/black_right.svg');
}


.album_button_left,
.album_button_right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.15s ease-in-out;
}

.booking_area {
    flex: 1;
}

.title_container {}

.title {
    height: 33px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.category {
    height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.booking_container {
    width: 100%;
    height: 302px;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;

}

.item_title {
    height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.booking_title {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.booking_describe {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.booking_date {
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.date_container {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    width: 193px;
    position: relative;
}

@media (max-width: 360px) {
    .date_container {
        width: 60%;
    }
}

#date_input {
    border: none;
    width: 100%;
    height: 25px;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
}

/* chrome */
input[type="date"] {
    background-color: transparent;
}


input[type="date"]::-webkit- {}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/static/images/date_icon.svg');
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* firefox */
/* input[type="date"] {
    background-image: url('/static/images/date_icon.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 24px 24px;
} */

/* input[type="date"] {
    background: url('/static/images/date_icon.svg');
    background-repeat: no-repeat;
    color: #1850e0;
    background-color: rgb(255, 219, 76);
} */

/* input[type="date"]:-moz-calendar-picker-indicator {
    color: red;
} */

.booking_time {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    vertical-align: middle;
}

/* 隱藏原生 radio 按鈕 */
input[type="radio"] {
    display: none;
}

label {
    margin-right: 8px;
}

input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 4px 2px 5px;
    padding: 0;
    cursor: pointer;
}

input[type="radio"]:checked+label::before {
    background-color: #448899;
    cursor: pointer;
}

.booking_fee {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#booking_button {
    padding: 10px 20px;
    background-color: #448899;
    border-radius: 5px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    color: #FFFFFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

#booking_button:hover {
    background-color: #5bb2c8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#booking_button:active {
    background-color: #39858a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


.line_container {
    width: 92%;
    height: 10px;
    max-width: 1200px;
    border-width: 0;
    box-sizing: border-box;
}

hr {
    border: none;
    border-top: 1px solid #E8E8E8;
}

.homepage-link {
    text-decoration: none;
    color: inherit;
}

.section_down_container {
    width: 90%;
    max-width: 1200px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: justify;
}

@media (max-width:600px) {
    .section_down_container {
        width: 100%;
    }
}

.information_describe {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

.information_address_title {
    height: 32px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
}

.information_address_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

.information_transport_title {
    height: 32px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
}

.information_transport_text {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
    padding-bottom: 80px;
}

@media (max-width: 600px) {
    .information_transport_text {
        padding-bottom: 94px;
    }
}