@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Noto Sans TC;
    border: solid 1px black;
    /* background-color: red; */
}

body,
h1,
h2,
.slogan_down,
.navigation_button {
    font-style: normal;
}

body {
    /* display: flex;
    flex-direction: column;
    position: relative; */
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    color: #F8F8F8;
}

h2 {
    font-size: 30px;
    line-height: 34px;
    color: #489;
    font-weight: 700;
}



.navigation {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    width: 100vw;
    height: 54px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.navigation_container {
    width: 92%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation_left,
.navigation_right {
    text-decoration: none;
    position: relative;
}

.navigation_button {
    border-style: hidden;
    background-color: white;
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}


.main {
    width: 100vw;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_up_container {
    max-width: 1200px;
    width: 88%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 481px) and (max-width: 1024px) {
    .section_up_container {
        flex-direction: column;
    }

    .album_area,
    .booking_area {
        width: 100%;
    }
}



.album_area {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.booking_area {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.title_container {}

.title {
    height: 33px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.category {
    height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.booking_container {
    width: 100%;
    max-width: 600px;
    height: 302px;
    background-color: #E8E8E8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;

}

.item_title {
    height: 22px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.booking_title {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.booking_describe {
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.booking_date {
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.date_container {
    width: 193px;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 5px 34px 5px 10px;
}

/* 對於 WebKit 瀏覽器 */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.input #date_input {
    width: 149px;
}

#date_input {
    width: 149px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 100;
}


.booking_time {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    vertical-align: middle;
}


/* 隱藏原生 radio 按鈕 */
input[type="radio"] {
    display: none;
}

label {
    margin-right: 8px;
}

input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0px 4px 2px 5px;
    padding: 0;
    cursor: pointer;
}

input[type="radio"]:checked+label::before {
    background-color: #448899;
    cursor: pointer;
}













.booking_fee {
    height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#booking_button {
    padding: 10px 20px;
    background-color: #448899;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    color: #FFFFFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.line_container {
    width: 92%;
    max-width: 1200px;
}

.section_down_container {
    width: 88%;
    max-width: 1200px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: justify;
}

.information_describe {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

.information_address_title {
    height: 32px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
}

.information_address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

.information_transport_title {
    height: 32px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #666;
}

.information_transport {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #666;
}

footer {
    background-color: #757575;
    color: white;
    display: flex;
    height: 104px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}