@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Noto Sans TC;
    /* outline: solid 1px black; */
    /* background-color: red; */
}

body,
h1,
h2,
.slogan_down,
.navigation_button {
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #666;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    color: #F8F8F8;
}

h2 {
    font-size: 30px;
    line-height: 34px;
    color: #489;
    font-weight: 700;
}

.homepage_link {
    text-decoration: none;
    color: inherit;
}

.navigation {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    width: 100vw;
    height: 54px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.navigation_container {
    width: 92%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation_left,
.navigation_right {
    text-decoration: none;
    position: relative;
    display: flex;
}

.navigation_button {
    border-style: hidden;
    background-color: white;
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navigation_button:hover {
    color: #448899;
}


.dialog_section {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 200;
    display: none;
    justify-content: center;
    overflow-x: hidden;
}

.signout_button {
    display: none;
}

.dialog_signin_section {
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 340px;
    /* height: 275px; */
}

.dialog_bar {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    width: 100%;
    height: 10px;
    display: flex;
}

.dialog_close_signin_button,
.dialog_close_signup_button {
    background-image: url(/static/images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 7px;
    z-index: 250;
    top: 20px;
    right: 10px;
}

.dialog_close_signin_button:hover,
.dialog_close_signup_button:hover {
    opacity: 0.7;
}

.dialog_title {
    margin: 15px 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #666666;
}

.user_input,
.signup_input {
    width: 310px;
    height: 47px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #757575
}

.user_input:focus,
.signup_input:focus {
    outline: none !important;
    border: 2px solid #448899;
}

.signin_submit,
.signup_submit {
    width: 310px;
    height: 47px;
    border: none;
    border-radius: 5px;
    background-color: #448899;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
}

.signin_submit:hover,
.signup_submit:hover {
    background-color: #5bb2c8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.signin_submit:active,
.signup_submit:active {
    background-color: #39858a;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dialog_signin_message,
.dialog_signup_message {
    display: none;
    color: #bd2222;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 310px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    margin-bottom: 10px;
}

.dialog_signup_prompt,
.dialog_signin_prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 310px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;
    margin-bottom: 15px;
}

.dialog_signup_prompt:hover,
.dialog_signin_prompt:hover {
    color: #448899;
}

.signin_form,
.signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog_signup_section {
    display: none;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 340px;
    /* height: 332px; */
}


footer {
    background-color: #757575;
    color: white;
    display: flex;
    height: 104px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.wave {
    position: relative;
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.wave_text {
    font-size: 20px;
    font-weight: 700;
    color: #448899;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

.wave>div {
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #448899, #66AABB);
    animation: waveAnim 1s infinite ease-in-out;
    transform-origin: center;
    border-radius: 5px;
}

.wave>div:nth-child(2) {
    animation-delay: 0.1s;
}

.wave>div:nth-child(3) {
    animation-delay: 0.2s;
}

.wave>div:nth-child(4) {
    animation-delay: 0.3s;
}

.wave>div:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes waveAnim {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.5);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.wave_dot {
    opacity: 0;
    animation: fadeIn 1s infinite;
    padding: 2px;
}

.wave_dot:nth-child(1) {
    animation-delay: 0.25s;
}

.wave_dot:nth-child(2) {
    animation-delay: 0.5s;
}

.wave_dot:nth-child(3) {
    animation-delay: 0.75s;
}