@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Noto Sans TC;
    /* outline: solid 1px black; */
    /* background-color: red; */
}

body,
h1,
h2,
.slogan_down,
.navigation_button {
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    color: #666;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    color: #F8F8F8;
}

h2 {
    font-size: 30px;
    line-height: 34px;
    color: #489;
    font-weight: 700;
}

.homepage-link {
    text-decoration: none;
    color: inherit;
}

.navigation {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    width: 100vw;
    height: 54px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.navigation_container {
    width: 92%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation_left,
.navigation_right {
    text-decoration: none;
    position: relative;
}

.navigation_button {
    border-style: hidden;
    background-color: white;
    color: #666666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.welcome {
    background-image: url(/static/images/welcome.png);
    width: 100vw;
    height: 320px;
    background-repeat: space;
    background-size: cover;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* z-index: 100; */
}


.welcome_container {
    max-width: 1200px;
    width: 92%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-direction: column;
    z-index: 50;
    position: absolute;
}

.slogan_up {
    text-shadow: 0px 0px 30px #ABC;
    height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan_down {
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    color: #F8F8F8;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search_bar {
    margin: 0;
    padding: 0;
    display: flex;
    /* display: inline-flex; */
    flex-direction: row;
    /* align-items: center; */
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
}

#input_area:focus {
    outline: none !important;
    border: 2px solid #448899;
}

#input_area {
    height: 46px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 30px #aabbcc;
    /* padding: 15px; */
    padding-left: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.3px;
    color: #757575;
    border-style: hidden;
    vertical-align: middle;
    align-items: center;
    display: inline;
    transition: width 0.3s ease;
    width: 400px;
}

@media screen and (max-width: 800px) {
    #input_area {
        width: 230px;
    }
}


.search_bar button {
    width: 60px;
    height: 46px;
    border-style: hidden;
    background-color: #448899;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: inline;
    /* display: inline-flex; */
    position: relative;
    align-items: center;
    /* justify-content: center; */
    vertical-align: middle;
}

.main {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100vw;
    flex: 1;
}

.main_container {
    max-width: 1200px;
    width: 92%;
}

.mrt_list_container {
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.mrt_list_button_left {
    background-image: url(/static/images/gray_left.svg);
    width: 32px;
    height: 32px;
    border-style: hidden;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}

.mrt_list_button_left:hover {
    background-image: url('/static/images/black_left.svg');
}

.mrt_list_button_right {
    background-image: url(/static/images/gray_right.svg);
    width: 32px;
    height: 32px;
    border-style: hidden;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
}

.mrt_list_button_right:hover {
    background-image: url('/static/images/black_right.svg');
}


.mrt_list_button_left,
.mrt_list_button_right {
    position: relative;
    flex-shrink: 0;
}

.mrt_list_content {
    cursor: pointer;
    scroll-behavior: smooth;
    overflow: hidden;
    color: #666;
    margin: 13px 10px 13px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 1106px;
    /* width: 100%; */
    /* flex-grow: 1 */
    min-width: 266px;
}

.mrt_list_content_station {
    padding: 5px 15px 5px 15px;
}




.attraction_container {
    max-width: 1200px;
    width: 92%;
    padding: 15px;
    display: grid;
    gap: 30px;
    /* 下面考慮刪掉 */
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    /* flex: 1 0 25%; */
    /* grow | shrink | basis */
    grid-template-columns: repeat(4, 1fr);
}


@media (min-width: 1200px) {
    .attraction_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .attraction_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .attraction_container {
        grid-template-columns: repeat(1, 1fr);
    }
}



.attraction_per_grid {
    flex-direction: column;
    justify-content: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.attraction_image_area {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 4/3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.attraction_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: transform 0.3s ease-in-out;
}


.attraction_name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.attraction_name_text {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.attraction_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 45px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.attraction_mrt {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
}

.attraction_category {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 13.3px;
}


#loading-area {
    width: 100%;
    height: 150px;

    position: relative;

    display: none;
}

.load-more-div {
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
}

footer {
    background-color: #757575;
    color: white;
    display: flex;
    height: 104px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}